{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}

{{- /* work and home config */ -}}
{{ $shared_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".config-gh-hosts.shared.yml.age" | include | decrypt -}}
{{ $shared_config | trimAll "\n" -}}
