{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}

{{- /* shared config */ -}}
{{/* $shared_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".npmrc.shared.age" | include | decrypt - */}}
{{/* $shared_config | trimAll "\n" */}}

{{- if $dyn.at_work -}}
{{- /* work config */ -}}
{{ $work_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".npmrc.work.age" | include | decrypt -}}
{{ $work_config | trimAll "\n" -}}

{{/* else - */}}
{{- /* home config */ -}}
{{/* $home_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".npmrc.home.age" | include | decrypt - */}}
{{/* $home_config | trimAll "\n" - */}}
{{ end }}
