{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}
{{ if $dyn.at_work -}}

{{- /* work config */ -}}
{{ $work_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".config-git-config.work.age" | include | decrypt -}}
{{ $work_config | trimAll "\n" }}

{{ else -}}
{{- /* home config */ -}}
{{ $home_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".config-git-config.home.age" | include | decrypt -}}
{{ $home_config | trimAll "\n" }}

{{ end }}
{{- /* shared config */ -}}
[core]
    editor = vim
    excludesFile = ~/.config/git/ignore
    attributesFile = ~/.config/git/attributes
    autocrlf = input
    eol = lf
[init]
    defaultBranch = master
[pull]
    ff = only
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
    # git create feature-branch-name ../featrue dev
    # will create feature-branch-name in ../feature, checkout origin/dev into it and create a MR draft for it
    # https://stackoverflow.com/a/25915221/9235421 Git Alias - Multiple Commands and Parameters
    create = !"git worktree add -b $1 $2 origin/$3 && git push -u origin $1 -o merge_request.create -o merge_request.target=$3 -o merge_request.draft #"
    pushf = !"git push --force-with-lease --force-if-includes #"
    tree = log --all --decorate --abbrev-commit --pretty=format:'%x09%C(auto)%h %<(50,trunc)%s %d' --graph
    plog = log --decorate --abbrev-commit --pretty=format:'%C(auto)%h %<(50,trunc)%s %<(10,trunc)%aN %d'
[lfs "https://github.com/fleetingbytes/dotfiles.git/info/lfs"]
    locksverify = true
[lfs "https://github.com/fleetingbytes/chazre.git/info/lfs"]
    locksverify = true
[lfs "https://github.com/fleetingbytes/bootstrap.git/info/lfs"]
    locksverify = true
[lfs "https://github.com/fleetingbytes/admin-files.git/info/lfs"]
    locksverify = true
