{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}

{{ if eq .chezmoi.os "linux" -}}
#!{{ lookPath "sh" }}

cargo_cmd="{{- $dyn.cargo_bin }}/cargo"

if ! [ -x "$cargo_cmd" ]; then
    printf "%s\n" "Installing Cargo..."
    CARGO_HOME={{ $dyn.cargo_home | quote }} RUSTUP_HOME={{ $dyn.rustup_home | quote }} \
        sh -c 'curl --proto "=https" --tlsv1.2 -sSf https://sh.rustup.rs |  sh -s -- -y --no-modify-path'
fi
{{ end -}}
