{{- if eq .chezmoi.os "linux" "freebsd" -}}
{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}

#!{{ lookPath "sh" }}

# The following hashes are included in this script so that it is only run when
# the contents of the files change and thus the contents of this script change.
# packages.yml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

set -v

CARGO_HOME={{ $dyn.cargo_home | quote }}
RUSTUP_HOME={{ $dyn.rustup_home | quote }}

{{ if eq .chezmoi.os "linux" -}}
cargo_cmd="{{- $dyn.cargo_bin }}/cargo"

{{ else if eq .chezmoi.os "freebsd" -}}
{{- /* presume cargo is already installed on FreeBSD */ -}}
cargo_cmd="$(command -v -- "cargo")"

{{ end }}

export CARGO_HOME
export RUSTUP_HOME

[ -x "$cargo_cmd" ] && "$cargo_cmd" install 
{{- range .packages.unix_like.cargo.pkg }} {{ . | quote }}{{ end }}

{{ end }}
