{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}
export CARGO_HOME=~/.config/cargo
export DIFFCOLORS="auto"
export EDITOR=vim
export GIT_SSH_COMMAND=~/.local/bin/ssh-deploy-key-wrapper
export GIT_SSH_WRAPPER_LOG=1
export LESS="R"
export MANPAGER="less --use-color -Dd+b -Du+y"
export HTML_TIDY="~/.config/tidy/config.txt"
export MANPATH=$MANPATH:/usr/local/share/man
export PAGER="less"
export TMPDIR="{{ $dyn.temporary_directory }}"
export VISUAL=$EDITOR
{{ if eq .chezmoi.os "linux" -}}
export PKG_CONFIG_PATH="/usr/lib/x86_64-linux-gnu/pkgconfig"
{{- end -}}
