{{ $dyn := include "_dynamic/dyn_config.json" | mustFromJson -}}

{{- /* shared config */ -}}
{{- /* Nothing here yet*/ -}}
{{- /* $shared_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".config-zdotdir-startup-secret-environment-variables.shared.age" | include | decrypt -}}
{{- /* $shared_config | trimAll "\n" */ -}}

{{ if $dyn.at_work -}}
{{- /* work config */ -}}
{{ $work_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".config-zdotdir-startup-secret-environment-variables.work.age" | include | decrypt -}}
{{ $work_config | trimAll "\n" -}}

{{ else -}}
{{- /* home config */ -}}
{{- $home_config := joinPath .chezmoi.sourceDir ".chezmoitemplates" ".config-zdotdir-startup-secret-environment-variables.home.age" | include | decrypt -}}
{{ $home_config | trimAll "\n" -}}
{{ end }}
